html {
	height: 100%;
	background: url("../img/bkg_image.jpg");
}

h1 {
	color: #FFFFFF;
	text-align: center;
	text-shadow: 2px 2px 4px #000000 ;
	font-size: 580%;
	font-family: 'Dancing Script', cursive;

}

p {
	color: #FFFFFF;
	text-align: center;
}

#navlist {
	background-color: rgba(12,16,40,0.85);
	margin: 0;
    top: 0;
    text-align: center;
    width: 100%;
    position: fixed;
}

#navlist li{
	display: inline-block;
	padding: 8px 10px;
	text-align: center; 
}

#navlist a{
	color: rgba(255,255,255,0.9);
	text-decoration: none;
	padding: 8px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#navlist li:hover {
	background-color: rgba(54,67,142,0.9);
}

